/node_modules

config/config.js
# This would ignore the config.js file while other files within the 'config' folder would be staged for cmmit

config/config.env

.env.development

.env.production


# config/database.js