@import url('https://fonts.googleapis.com/css?family=Acme|Archivo+Narrow|Bangers|Anton|Dokdo|Lato|Pacifico|Allan');

:root {
	--bg-color: lightslategray;
	--site-font: Archivo Narrow;
	--site-text-color: rgb(43, 42, 42);
	--bg-secondary-color: gold;
	--site-font-2: Lato sans-serif;
}

.site-font {
	font-family: var(--site-font);
	color: var(--site-text-color);
}

.site-font-lg {
	letter-spacing: 2px;
	line-height: 2rem;
	font-size: 18px;
	font-family: var(--site-font);
}

.site-font-2 {
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 2rem;
}

.site-font-sm {
	font-family: var(--site-font);
	color: var(--site-text-color);
	font-size: 14px;
}

.bg-color {
	background-color: var(--bg-secondary-color);
}

.bg-secondary {
	background-color: var(--bg-color) !important;
	color: black;
}

.profile-info {
	border: solid 1px var(--bg-color);
}

.profile-list {
	border: solid 1px var(--bg-color);
}

/*
.account-body {
	border: solid 1px var(--bg-color);
}
*/
.order-img {
	width: 40px;
	height: 40px;
}
